*{
    margin:0px;
    padding:0px;
}
div.login{
    width: 400px;
   padding: 50px;
    margin: auto;
    margin-top:100px;
    margin-bottom:50px;
    text-align: center;
    border: 1px solid rgb(226, 61, 61);

}
  h1{
    font-size: 25px;
    color: blue;
  }
  input{
    width: 330px;
    font-size: 12px;
    padding: 12px 14px;
    border: 1px solid gray;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .btn-1{
    width: 330px;
    padding: 8px 8px;
    background-color: #1877F2;
    color: white;
    border-radius: 5px;
    border: 1px solid #1877F2;
  }
  div.signup{
    width: 200px;
  }